@font-face {
    font-family: 'Teshrin-AR+LT-medium';
    src: url('fonts/TeshrinARLT-Medium.eot');
    src: url('fonts/TeshrinARLT-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/TeshrinARLT-Medium.woff2') format('woff2'),
    url('fonts/TeshrinARLT-Medium.woff') format('woff'),
    url('fonts/TeshrinARLT-Medium.ttf') format('truetype'),
    url('fonts/TeshrinARLT-Medium.svg#TeshrinAR+LT-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Teshrin-AR+LT-light';
    src: url('fonts/TeshrinARLT-Light.eot');
    src: url('fonts/TeshrinARLT-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/TeshrinARLT-Light.woff2') format('woff2'),
    url('fonts/TeshrinARLT-Light.woff') format('woff'),
    url('fonts/TeshrinARLT-Light.ttf') format('truetype'),
    url('fonts/TeshrinARLT-Light.svg#TeshrinAR+LT-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Teshrin-AR+LT-bold';
    src: url('fonts/TeshrinARLT-Bold.eot');
    src: url('fonts/TeshrinARLT-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/TeshrinARLT-Bold.woff2') format('woff2'),
    url('fonts/TeshrinARLT-Bold.woff') format('woff'),
    url('fonts/TeshrinARLT-Bold.ttf') format('truetype'),
    url('fonts/TeshrinARLT-Bold.svg#TeshrinAR+LT-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Teshrin-AR+LT-thin';
    src: url('fonts/TeshrinARLT-Thin.eot');
    src: url('fonts/TeshrinARLT-Thin.eot?#iefix') format('embedded-opentype'),
    url('fonts/TeshrinARLT-Thin.woff2') format('woff2'),
    url('fonts/TeshrinARLT-Thin.woff') format('woff'),
    url('fonts/TeshrinARLT-Thin.ttf') format('truetype'),
    url('fonts/TeshrinARLT-Thin.svg#TeshrinAR+LT-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Teshrin-AR+LT-regular';
    src: url('fonts/TeshrinARLT-Regular.eot');
    src: url('fonts/TeshrinARLT-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/TeshrinARLT-Regular.woff2') format('woff2'),
    url('fonts/TeshrinARLT-Regular.woff') format('woff'),
    url('fonts/TeshrinARLT-Regular.ttf') format('truetype'),
    url('fonts/TeshrinARLT-Regular.svg#TeshrinAR+LT-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Teshrin-AR+LT-black';
    src: url('fonts/TeshrinARLT-Black.eot');
    src: url('fonts/TeshrinARLT-Black.eot?#iefix') format('embedded-opentype'),
    url('fonts/TeshrinARLT-Black.woff2') format('woff2'),
    url('fonts/TeshrinARLT-Black.woff') format('woff'),
    url('fonts/TeshrinARLT-Black.ttf') format('truetype'),
    url('fonts/TeshrinARLT-Black.svg#TeshrinAR+LT-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

.bg-grey{background-color: #f8f9f9;}
.navbar-light .navbar-nav .nav-link {color:#253746;font-size: 12px;}
.dropdown svg{margin-right: 9px;}
.rowOrange{background-color: #fc4c02;width: 100%;height: 5px;position: absolute;left: 0;right: 0;margin: auto;top: 33px;display: none;    border-radius: 2.5px;}
.nav-link.active .rowOrange{display: block;}
.list-group-item.list-group-item-action,#sidebar-wrapper .sidebar-heading{background-color:#253746;color:#ffffff;text-align: center;padding: .6rem 1.25rem; }
.list-group-item {border: none;}
.list-group.list-group-flush svg{width: 43px;height: 43px;}
.list-group.list-group-flush p{font-size: 13px;font-family: "Teshrin-AR+LT-medium";text-transform: uppercase;}
.list-group-item.list-group-item-action:hover{opacity: 0.7;cursor: pointer;}
.logo svg{width: 109px;margin: 30px auto;height: 60px;}
#sidebar-wrapper{background-color: #253746;}
.settings svg{width: 53px!important;height: 24px!important;}
.line{width:1px;height: 30px;background-color: #253746;margin: auto 0 auto 15px;}
.nav-link.dropdown-toggle{display: flex;align-items: center;font-family: "Teshrin-AR+LT-bold"}
.border-bottom {border-bottom: 1px solid #253746!important;}
.navbar{margin:15px;}
.tab-content{margin-top: 10px;min-height: calc(100vh - 250px);}
.notification{margin-bottom:40px;padding:5px 5px 3px 0;margin-left: 6px;background-color:#4e5d69;color:#ffffff;display: flex;align-items: center;justify-content: space-between; }
.notification *{margin: 0;}
.notification svg{width: 40px;height: 32px;}
.notification .closebtn{margin: 0 30px;padding-bottom: 7px;}
.notification .closebtn:hover{opacity: 0.7;cursor: pointer;}
.notification .closebtn img{width: 15px;height: 15px;}
.download{display: flex;align-items: center;}
.download h5{font-size: 13px;font-family: "Teshrin-AR+LT-bold";margin-bottom: 2px;}
.download h6{font-size: 11px;font-family: "Teshrin-AR+LT-regular";align-items: center;display: flex;}
.download h6 svg{width: 19px;height: 10px;margin-left: 5px;}
.nav-tabs{border-bottom: 2px solid #253746;max-width: 1500px;margin: 20px auto 0 auto;}
.nav-tabs{padding-left: 100px;}
.nav-tabs .nav-link{color:#253746;font-size: 12px;font-family: "Teshrin-AR+LT-bold";}
.nav-tabs .nav-link{border-bottom: 1px solid #253746;}
.nav-tabs .nav-link.active,.nav-tabs .nav-link:hover,.nav-tabs .nav-link:focus,.nav-tabs .nav-link:active{border-bottom: 2px solid #253746;}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {border-bottom: 2px solid transparent;}
.nav-tabs .nav-item{position: relative;}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {background-color:transparent;}
#page-content-wrapper{height: 100%;}
.title{border-bottom: 1px solid #253746;}
.title h5{font-family: "Teshrin-AR+LT-regular";font-size: 14px;margin: 0;}
.title h5.bold{font-family: "Teshrin-AR+LT-bold";}
#notifications .content{margin: 15px auto;background-color: #ffffff;border-radius: 20px;
    -webkit-box-shadow:0px 0px 17px -1px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0px 0px 17px -1px rgba(0, 0, 0, 0.17);
    box-shadow: 0px 0px 17px -1px rgba(0, 0, 0, 0.17);
}
#notifications .content >div{padding: 20px;}
#notifications .ways{padding: 30px 0;}
#notifications .ways>div{text-align: center;}
#notifications .shadow >div:first-child{border-top-left-radius: 20px;border-top-right-radius: 20px;}
#notifications .shadow >div:last-child{border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;padding-bottom: 0;}
.container-checkbox {text-align: left;font-family:"Teshrin-AR+LT-regular";display: block;position: relative; padding-left: 35px;margin-bottom: 0;cursor: pointer;font-size: 16px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;padding-bottom: 25px;}
.container-checkbox input { position: absolute;opacity: 0;cursor: pointer;height: 0;width: 0;}
.checkmark {position: absolute;top: 0;left: 0;height: 20px;width: 20px;background-color: transparent;border: 1.5px solid #88959f;border-radius: 5px;}
.container-checkbox:hover input ~ .checkmark {background-color: #ccc;}
.container-checkbox input:checked ~ .checkmark {background-color: #88959f;}
.checkmark:after {content: ""; position: absolute;display: none;}
.container-checkbox input:checked ~ .checkmark:after {display: block;}
.container-checkbox .checkmark:after {left: 6px;top: 2px;width: 5px;height: 10px;border: solid white; border-width: 0 3px 3px 0;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}
.daily .container-checkbox{min-width: 275px;font-size: 12px;padding-top: 1px;}
.nav-tabs .nav-link {border: none;}
.onoff{display: flex;justify-content: flex-end;align-items: center;margin-top: 60px;}
.onoff p{font-family: "Teshrin-AR+LT-regular";font-size: 13px;margin: 0;padding-left: 6px;padding-bottom: 7px;}
.switch{position: relative;display: inline-block;width: 49px;height: 24px;}
.switch input {opacity: 0;width: 0;height: 0;}
.slider {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #ccc;-webkit-transition: .4s;transition: .4s;}
.slider:before {position: absolute;content: "";height: 21px;width: 21px;left: 0;bottom: 2px;background-color: white;-webkit-transition: .4s;transition: .4s;}
input:checked + .slider {background-color: #fc4c02;}
input:focus + .slider {box-shadow: 0 0 1px #fc4c02;}
input:checked + .slider:before {-webkit-transform: translateX(26px);-ms-transform: translateX(26px);transform: translateX(26px);}
.slider.round {border-radius: 34px;}
.slider.round:before {border-radius: 50%;}
.footer {border-top: 1px solid #253746;margin: 180px 15px 30px 15px;}
.footer p{font-size: 12px;font-family: "Teshrin-AR+LT-regular";margin-top: 30px;}
.notificationBorder{background-color: #2b3947;}
.tab-pane{max-width:1300px;margin: auto;}
.navbar-nav svg{width: 35px;height: 22px;}
.toggleMenu svg{width: 30px;height: 30px;}
@media only screen and (max-width: 996px) {
    .contentSite{padding-left: 30px;}
    .footer{margin-left: 30px!important;}
    #sidebar-wrapper {margin-left: -8rem;}
    #page-content-wrapper {min-width: 100%;}
    .notification .closebtn {margin: 0 6px 0 0;}
    .tab-content, .nav-tabs {padding-left: 0;}
    .footer {margin: 70px 15px 30px 15px;}
    .nav-link {padding: .5rem .5rem;}
    .nav-tabs {margin: 25px auto 0 auto;}
    .onoff {margin-top: 30px;}
    .navbar-nav{display: flex;flex-direction: row;    justify-content: flex-end;}
    .navbar-nav li{margin: 0 15px;}
    .navbar{justify-content: flex-end;border-bottom: none!important;}
    .toggleMenu{position: absolute;z-index: 9;color: #fc4c02;font-size: 14px;font-family: "Teshrin-AR+LT-bold";padding-top: 15px;}
    .toggleMenu:hover{color: #fc4c02;opacity: 0.7;}
    .toggleMenu:focus { box-shadow: none;}
    .list-group.list-group-flush svg {width: 30px;height: 30px;}
    .logo svg {width: 88px;}
    .list-group-item.list-group-item-action, #sidebar-wrapper .sidebar-heading {padding: 0.2rem 1.25rem;}
    #sidebar-wrapper .list-group {width: 7rem;    padding-top: 50px;}
    .navbar{    margin: 0 0 0 15px;}
    .navbar-light .navbar-toggler {border-color: transparent;}
    .nav-link{color: #253746;font-size: 12px;}
    .nav-link:hover{color: #253746;}
    .nav-link  svg {width: 35px;height: 22px;}
   .navbar-toggler .dropdown-menu {left: -100px;}
   .logoMobile{position: absolute;left: 0;right: 0;text-align: center;z-index: -4;}
    .logoMobile svg{width: 95px;height: 22px;}
}
@media only screen and (max-width: 600px) {
    .ways{flex-wrap: wrap;margin: auto;}
    .ways svg{width: 75px;}
    #notifications .ways>div {width: 100%;justify-content: space-around;}
}

@media only screen and (max-width: 450px) {
.container-checkbox {padding-left: 24px;font-size: 12px;text-align: center;}
.download h5 {font-size: 12px;}
.notification {padding: 7px 5px 6px 0;}
.nav-link {padding: .5rem .3rem;}
}